* {
  scrollbar-width: thin; 
  scrollbar-color: #888 #1b1b1b;
  scroll-margin-top: 60px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1b1b1b;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  font-size: 4em;
  margin: 0;
  font-weight: 500;
  color: white;
}

h2 {
  font-size: 30px;
  margin: 10px 0 16px 0;
  font-weight: 700;
  animation: colorChange 10s linear infinite;
  text-align: center;
}

h3 {
  font-size: 30px;
  animation: colorChange 10s linear infinite;
}

article {
  padding: 0 0 30px 0;
}

.seccion {
  width: 80%;
  margin: 0 auto;
}

.seccion p {
  color: #c7c7c7;
  font-size: 20px;
}

@keyframes colorChange {
  0% {
    color: #FF6347; /* Tomato */
  }
  25% {
    color: #fdea3c; /* Light Salmon */
  }
  50% {
    color: #FFD700; /* Gold */
  }
  75% {
    color: #ff5416; /* Orange Red */
  }
  100% {
    color: #FF6347; /* Tomato */
  }
}

