.footer {
    padding: 3%;
    margin-top: 50px;
    border-top: #afafaf33 solid 1px;
  }
  
  footer section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  footer h4 {
    padding: 0;
    margin: auto 0;
    color: #757575;
    font-size: 19px;
    font-weight: 400;
  }
  
  .contacto-info {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .contacto-link {
    text-decoration: none;
    color: rgb(117, 117, 117);
  }
  
  .contacto-link:hover {
    color: #f1356d;
  }
  
  #redes {
    display: flex;
    gap: 35px;
  }
  
  .contacto-info .fa-icon{
    color: rgb(117, 117, 117);
  }

  #redes .fa-icon {
    font-size: 40px;
    transition: transform 0.3s;
    color: rgb(117, 117, 117);
  }
  
  #redes .fa-icon:hover {
    transform: scale(1.1);
  }
  
  @media only screen and (max-width: 800px) {
    footer section {
      width: 100%;
    }
  
    footer h4 {
      font-size: 15px;
    }
  
    #redes {
      gap: 20px;
    }
  }
  