.Presentacion{
  background-color: #1b1b1b;
  min-height: 10vh;
  max-height: 100vh;
}

.Presentacion__Info{
  text-align: center;
  align-content: center;
  height: 90vh;
}

.Presentacion__Info h2{
  font-size: 4rem;
  font-size: 700;
  margin: 0;
}

.Presentacion__Redes{
  display: flex;
  justify-content: center;
  gap: 30px;
}

.Presentacion__Redes-Link{
  transition: 0.3s ease-in-out;
}

.Presentacion__Redes-Link:hover{
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.Presentacion__Redes-Link h4{
  color: white;
  border-radius: 15px;
  background-color: #0070c0;
  padding: 10px 40px;
  font-weight: 400;
}

.Presentacion__Icon {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  animation: bounce 2s infinite;
}

.Presentacion__Icon .fa-icon{
  font-size: 18px;
  color: white;
} 

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  40% {
    transform: translateX(-50%) translateY(-20px);
  }
  60% {
    transform: translateX(-50%) translateY(-10px);
  }
}